<%- include('../layout/header2'); %>




<!-- Div general-->
<div class="container">


    
        <div class="row" style="margin-top: 10%;">
          <div class="col text-center">
            <h1 class="font-weight-bold">Apartado General de graficas</h1>
            <p class="lead" style="color: black;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur dolorum quas consectetur molestias ex soluta exercitationem, tempore aut harum fugit. Est odit suscipit magni aperiam? Nesciunt vel architecto necessitatibus ipsa odit quae maiores perferendis, eos corrupti voluptates, similique voluptatibus accusantium? Sunt sit ex quisquam aliquid aliquam enim quidem, voluptate obcaecati!</p>
          </div>
        </div>
      


    <div class="row d-flex align-items-center justify-content-center" style="height:100vh;">
    
    <div class="col-md-7" >
        <div id="chart-1" ></div>
    </div>
    
</div>

</div><!-- Div general-->

<script>
    var options = {
        chart: {
            type: 'line'
        },
        title: {
            text: '<%= title %>'
        },


        
        series: [
            
                <%- JSON.stringify(serie) %>
            
        ],
        xaxis: {
            categories: <%- JSON.stringify(hour) %>
        },
        yaxis: {
            forceNiceScale: true,
            max:100,
            labels: {
                formatter: function (value) {
                    return value + "%";
                }
            }
        }
        
    };

    var chart = new ApexCharts(document.querySelector("#chart-1"), options);
    chart.render();
</script>

<%- include('../layout/footer2'); %>