<%- include('../../layout/header2'); %>

<div class="container mt-5">
    <div class="row">
        <div class="container my-4">
            <div class="text-center">
                <h1>Consulta de datos</h1>
            </div>
        </div>

        <div class="container mt-2">
            <form action="/suelos/humedad" method="GET">
                <div class="row mt-5">
                    <div class="col-md-4 mx-auto rounded bg-info">
                        <label for="startDate" class="form-label fw-bold">Fecha inicio</label>
                        <input type="date" class="form-control text-center mb-3" id="startDate" name="startDate">
                    </div>
                    <div class="col-md-4 mx-auto rounded bg-info">
                        <label for="endDate" class="form-label fw-bold">Fecha fin</label>
                        <input type="date" class="form-control text-center mb-3" id="endDate" name="endDate">
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary">Buscar datos</button>
                </div>
            </form>
        </div>

        <div class="col-md-8 mx-auto mt-5">
            <div class="position-relative">
                <div id="chart-1"></div>
            </div>
        </div>

        <div class="col-md-8 mx-auto mt-5">
            <div class="position-relative">
                <div id="chart-2"></div>
            </div>
        </div>

        <div class="col-md-8 mx-auto mt-5">
            <div class="position-relative">
                <div id="chart-3"></div>
            </div>
        </div>
    </div>
</div>

    <script>
        
        var options1 = {
            chart: {
                type: 'line',
                width: '100%'
            },
            title: {
                text: '<%= serie1.name %>'
            },
            series: [
                <%- JSON.stringify(serie1) %>
            ],
            xaxis: {
                categories: <%- JSON.stringify(hour) %>,

                labels: {
                    style: {
                        fontSize: '5px'
                    }
                }
            },
            yaxis: {
                forceNiceScale: false,
                max: 100,
                min: 0,
                labels: {
                    formatter: function(value) {
                        return value + " %";
                    },
                    style: {
                        fontSize: '5px'
                    }
                }
            }
        };
        
        var options2 = {
            chart: {
                type: 'line',
                width: '100%'
            },
            title: {
                text: '<%= serie2.name %>'
            },
            series: [
                <%- JSON.stringify(serie2) %>
            ],
            xaxis: {
                categories: <%- JSON.stringify(hour) %>,

                labels: {
                    style: {
                        fontSize: '5px'
                    }
                }
            },
            yaxis: {
                forceNiceScale: false,
                max: 100,
                min: 0,
                labels: {
                    formatter: function(value) {
                        if (value === Math.floor(value)) {
                            // Si el valor es un número entero, devolver sin decimales
                            return value + " %";
                        } else {
                            // Si el valor es un número decimal con valor de cero, devolver sin decimales
                            return value.toFixed(0) + " %";
                        }
                    },
                    style: {
                        fontSize: '5px'
                    }
                }
            }
        };
        
        var options3 = {
            chart: {
                type: 'line',
                width: '100%'
            },
            title: {
                text: '<%= serie3.name %>'
            },
            series: [
                <%- JSON.stringify(serie3) %>
            ],
            xaxis: {
                categories: <%- JSON.stringify(hour) %>,

                labels: {
                    style: {
                        fontSize: '5px'
                    }
                }
            },
            yaxis: {
                forceNiceScale: false,
                max: 100,
                min: 0,
                labels: {
                    formatter: function(value) {
                        if (value === Math.floor(value)) {
                            // Si el valor es un número entero, devolver sin decimales
                            return value + " %";
                        } else {
                            // Si el valor es un número decimal con valor de cero, devolver sin decimales
                            return value.toFixed(0) + " %";
                        }
                    },
                    style: {
                        fontSize: '5px'
                    }
                }
            }
        };
        
        var chart1 = new ApexCharts(document.querySelector("#chart-1"), options1);
        var chart2 = new ApexCharts(document.querySelector("#chart-2"), options2);
        var chart3 = new ApexCharts(document.querySelector("#chart-3"), options3);

        chart1.render();
        chart2.render();
        chart3.render();

    </script>
<%- include('../../layout/header2'); %>
=======
